.avatar-box {
    height: 400px;
    width: 100%;
    background-color: #daa520;
    background-image: url(../images/foggy-birds.png);
    background-repeat: repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}