  .topnav {
      position: fixed;
      color: #ffffff;
      background-color: #4056a1;
      overflow: hidden;
      width: 100%;
      top: 0;
      z-index: 10000;
      display: flex;
      justify-content: space-between;
      padding: 1.5em
  }

  .topnav-big-logo {
      font-family: "Bungee", sans-serif;
      font-size: 36px;
      text-align: bottom
  }

  .topnav-write-tweet {
      font-family: "Source Sans Pro", sans-serif;
      font-size: 22px;
  }
