.topnav {
  background-color: rgba(0,0,0,0.0);
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  padding: 1em;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 10000
  }

.topnav-left {
  font-family: "Bungee", sans-serif;
  font-size: 36px;
  margin-top: 0.2em;
  text-align: bottom;
}

.topnav-right {
  display: flex;
  flex-direction: column;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 22px;
}

.topnav-arrow {
  align-self: center;
}

.topnav-arrow:hover {
  animation: mover 1s infinite  alternate;
  -webkit-animation: mover 1s infinite  alternate;
}
@-webkit-keyframes mover {
  0% { transform: translateY(0); }
  100% { transform: translateY(2px); }
}
@keyframes mover {
  0% { transform: translateY(0); }
  100% { transform: translateY(2px); }
}

  /* Tablet Styles */
@media only screen and (min-width: 768px) {

  .topnav {
    position: fixed;
    background-color: #4056a1;
  }
}

/* Desktop styles */
@media only screen and (min-width: 1024px) {

  /* no changes to nav for >768px */

}