.humm-text {
  background: transparent;
  border-bottom: 4px solid;
  border-left: transparent;
  border-right: transparent;
  border-top: transparent;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 24px;
  font-weight: 600;
  height: 3em;
  outline: none;
  resize: none;
  width: 100%;
}

.btn-cntr-box {
  display: flex;
  justify-content: space-between;
}

.tweet-btn {
  background-color: #4056a1;
  border: 0;
  color: #ffffff;
  font-family: "Bungee";
  font-size: 18px;
}

.counter {
  color: #545149;
  font-family: "Bungee";
  justify-items: right;
}

.red {
  color: #FF0000;
}