.btn-cntr-box {
    display: flex;
    justify-content: space-between
}

.humm-text {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 24px;
    background: transparent;
    outline: none;
    height: 2em;
    width: 100%;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;    
    border-bottom: 4px solid
    }

.tweet-btn {
    font-family: "Bungee";
    background-color: #4056a1;
    color: #ffffff;
}

.counter {
    font-family: "Bungee";
    justify-items: right
}